---
layout: default
title: Blog
menu: blog
permalink: /blog
pagination:
  enabled: true
  collection: posts
  per_page: 8
  permalink: /page/:num/
  title: :title
  sort_field: date
  sort_reverse: true
---
<p>
  Hello and welcome to my blog. Here you will find musings on various topics from
  video games to mental health to fatherhood.
</p>
<p>
  <em>These thoughts are my own and not all content is 100% safe for work!</em>
</p>
<hr>
<h2>Latest Posts</h2>
<p>View the latest posts below. Click on a category or tag to filter the results.</p>
{% assign visible_posts = paginator.posts | where_exp: "post", "post.draft != true" %}
{% for post in visible_posts %}
  {% include post-preview.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Blog pagination">
  {% if paginator.next_page_path %}
    <a class="pagination-control" href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Older posts" title="Older posts">&larr; Older Posts</a>
  {% else %}
    <span class="pagination-control is-disabled" aria-disabled="true" title="Older posts">&larr; Older Posts</span>
  {% endif %}

  <span class="pagination-status"></span>

  {% if paginator.previous_page_path %}
    <a class="pagination-control" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Newer posts" title="Newer posts">Newer Posts &rarr;</a>
  {% else %}
    <span class="pagination-control is-disabled" aria-disabled="true" title="Newer posts">Newer Posts &rarr;</span>
  {% endif %}
</nav>
{% endif %}
