---
layout: no_title
---

<h1><i class="fa-solid fa-folder-open category-title" title="Category"></i>&nbsp; {{page.title}}</h1>
{{ content }}

<hr>
<h2>Other Categories</h2>
<p>View other categories below.</p>
<div class="cards small">
{% for category in site.categories %} 
    <a class="card-link" href="{{ category.url | prepend:site.baseurl }}"><div class="category-card">
        <h3>{{ category.title }}</h3>
    </div></a>
{% endfor %}
</div>
<hr>
<h2>Posts</h2>
<p>The following posts are in the "{{page.title}}" category:</p>
{% assign filtered_posts = site.posts | where: 'categories', page.short_name %}
{% for post in filtered_posts %}
  {% include post-preview.html %}
{% endfor %}