---
layout: default
---

<div class="post-details">
  <div>
    <i class="fa-solid fa-calendar-days date-icon" title="Date"></i>&nbsp; {{ page.date | date_to_string }}
  </div>
  <span class="separator"> | </span>
  <div>
    <i class="fa-solid fa-folder-open" title="Categories"></i>&nbsp; 
    {% for page_category in page.categories %}
      {% assign category = site.categories
      | where_exp:"category", "category.short_name == page_category" 
      | first %}
      <a href="{{site.baseurl}}/categories/{{ category.short_name }}">{{category.title}}</a>
    {% endfor %}
  </div>
  {% assign wordCount = page.content | number_of_words %}
  {% if wordCount >= 1000 %}
    {% assign wordCountX = wordCount | divided_by: 1000.0 | round | append: ',' %}
    {% assign rest = wordCount | minus: 1000 %}
    {% if rest < 10 %}
      {% assign rest = rest | prepend: '00' %}
    {% elsif rest < 100 %}
      {% assign rest = rest | prepend: '0' %}
    {% endif %}
    {% assign wordCountFormatted = wordCountX | append: rest %}
  {% else %}
    {% assign wordCountFormatted = wordCount %}
  {% endif %}
  <span class="post-word-count"><i>{{ wordCountFormatted }} words</i></span>
</div>

<p class="post-tags">
  {% if page.tags.size > 0 %}
    <i class="fa-solid fa-tags" title="Tags"></i>&nbsp;
    {% for page_tag in page.tags %}
        {% assign tag = site.tags
        | where_exp:"tag", "tag.short_name == page_tag" 
        | first %}
      <a href="{{site.baseurl}}/tags/{{ page_tag }}">{{ tag.title }}</a>{% if forloop.last != true %},{% endif %}
    {% endfor %}
  {% endif %}
</p>

<div class="blog-content">
  {{ content }}
</div>

{% assign visible_posts = site.posts | where_exp: "post", "post.draft != true" %}
{% for post in visible_posts %}
  {% if post.url == page.url %}
  	{% assign pOffset = forloop.index0 | minus: 1 %}
  	{% assign nOffset = pOffset | plus: 2 %}
  	{% if forloop.first == false %}
    {% assign next_post = visible_posts[pOffset] %}
  	{% endif %}
  	{% if forloop.last == false %}
    {% assign previous_post = visible_posts[nOffset] %}
  	{% endif %}
  	{% break %}
  {% endif %}
{% endfor %}
<hr/>
<p class="post-navigation">
{% if previous_post %}
  <a href="{{ site.baseurl }}{{ previous_post.url }}" class="previous-post">
    &lt;&lt; Previous: "{{ previous_post.title }}"
  </a>
{% endif %}
{% if next_post %}
  <a href="{{ site.baseurl }}{{ next_post.url }}" class="next-post">
    Next: "{{ next_post.title }}" &gt;&gt;
  </a>
{% endif %}
</p>